# 버스 사고 예측하기

In [6]:
# 모듈로드
import json
import os
import pandas as pd
import numpy as np

In [44]:
# json파일을 데프로 만들기
labelfold='../data/label/'

def json_df_make(fold,si_fold):
    accident_df=pd.DataFrame()
    path=labelfold+fold+si_fold
    for file in os.listdir(path):
        a_dic=json.load(open(path+file))
        accident_df=pd.concat([accident_df,pd.DataFrame(a_dic['annotations'])],ignore_index=True)
    return accident_df

In [46]:
accident11_087A_df=json_df_make('A/','[emergency]accident11_087A/')
accident11_087C_df=json_df_make('C/','[emergency]accident11_087C/')
accident11_087E_df=json_df_make('E/','[emergency]accident11_087E/')
accident11_087G_df=json_df_make('G/','[emergency]accident11_087G/')

In [50]:
accident11_087A_df

,id,bbox,occluded,num_keypoints,keypoints,action,age,disabled,mask,get_on,get_off
0,0,"[578, 181, 802, 695]",True,16,"[692, 663, 2, 671, 559, 2, 659, 448, 2, 733, 4...",stand,adult,False,False,False,False
1,0,"[566, 180, 818, 710]",True,16,"[689, 668, 1, 674, 579, 2, 659, 453, 2, 724, 4...",walk,adult,False,False,False,False
2,0,"[870, 182, 1323, 1063]",True,16,"[969, 1016, 1, 1054, 870, 1, 1025, 700, 1, 112...",stand,adult,False,False,False,False
3,0,"[899, 140, 1299, 1062]",True,16,"[1013, 1024, 1, 1059, 863, 1, 1055, 682, 2, 11...",stand,adult,False,False,False,False
4,0,"[927, 131, 1299, 1060]",True,16,"[1031, 1028, 1, 1097, 848, 1, 1071, 661, 2, 10...",stand,adult,False,False,False,False
5,0,"[927, 131, 1299, 1060]",True,16,"[1031, 1028, 1, 1097, 848, 1, 1070, 650, 2, 11...",stand,adult,False,False,False,False
6,0,"[927, 131, 1299, 1060]",True,16,"[1031, 1028, 1, 1097, 848, 1, 1060, 636, 2, 11...",stand,adult,False,False,False,False
7,0,"[959, 142, 1307, 1063]",True,16,"[1031, 1028, 1, 1077, 833, 1, 1094, 657, 2, 11...",stand,adult,False,False,False,False
8,0,"[1073, 172, 1440, 1001]",True,16,"[1125, 929, 1, 1156, 788, 1, 1185, 601, 2, 125...",walk,adult,False,False,False,False
9,0,"[872, 168, 1273, 1079]",True,16,"[915, 993, 1, 955, 784, 1, 1023, 589, 2, 1110,...",walk,adult,False,False,False,False
10,0,"[745, 154, 1083, 1079]",True,16,"[1028, 1010, 1, 942, 845, 1, 1015, 595, 2, 935...",walk,adult,False,False,False,False
11,0,"[686, 104, 1001, 926]",True,16,"[916, 879, 1, 871, 713, 1, 940, 519, 2, 788, 5...",walk,adult,False,False,False,False
12,0,"[617, 135, 910, 764]",True,16,"[827, 718, 1, 826, 594, 2, 829, 482, 2, 719, 4...",walk,adult,False,False,False,False
13,0,"[614, 136, 894, 796]",True,16,"[747, 743, 1, 777, 615, 2, 789, 480, 2, 698, 4...",walk,adult,False,False,False,False
14,0,"[626, 176, 860, 764]",True,16,"[763, 720, 1, 767, 616, 2, 765, 480, 2, 692, 4...",walk,adult,False,False,False,False
15,0,"[589, 205, 816, 765]",True,16,"[688, 667, 1, 677, 586, 2, 671, 471, 2, 742, 4...",walk,adult,False,False,False,False
16,0,"[622, 208, 882, 752]",True,16,"[698, 665, 1, 693, 613, 2, 701, 476, 2, 780, 4...",walk,adult,False,False,False,False
17,0,"[641, 236, 917, 781]",True,16,"[738, 731, 1, 712, 609, 2, 718, 518, 2, 804, 5...",walk,adult,False,False,False,False
18,0,"[626, 152, 934, 903]",True,16,"[753, 854, 1, 737, 703, 1, 739, 559, 2, 836, 5...",walk,adult,False,False,False,False
19,0,"[1147, 163, 1559, 1052]",True,16,"[1217, 1002, 1, 1186, 816, 1, 1210, 643, 2, 13...",walk,adult,False,False,False,False
20,0,"[919, 136, 1463, 1067]",True,16,"[1030, 1026, 1, 1004, 864, 1, 1066, 703, 1, 12...",walk,adult,False,False,False,False
21,0,"[883, 143, 1463, 1079]",True,16,"[1010, 1047, 1, 951, 873, 1, 1001, 703, 1, 115...",stand,adult,False,False,False,False
22,0,"[883, 143, 1463, 1079]",True,16,"[1010, 1047, 1, 951, 873, 1, 996, 669, 2, 1136...",stand,adult,False,False,False,False
23,0,"[883, 143, 1463, 1079]",True,16,"[1010, 1047, 1, 951, 873, 1, 994, 653, 2, 1141...",stand,adult,False,False,False,False
24,0,"[883, 143, 1463, 1079]",True,16,"[1010, 1047, 1, 951, 873, 1, 994, 653, 2, 1141...",stand,adult,False,False,False,False
25,0,"[883, 143, 1463, 1079]",True,16,"[1010, 1047, 1, 951, 873, 1, 994, 653, 2, 1141...",stand,adult,False,False,False,False
26,0,"[883, 143, 1463, 1079]",True,16,"[1010, 1047, 1, 951, 873, 1, 994, 653, 2, 1141...",stand,adult,False,False,False,False
27,0,"[656, 96, 1004, 962]",True,16,"[739, 879, 1, 748, 724, 1, 751, 542, 2, 859, 5...",walk,adult,False,False,False,False
28,0,"[864, 176, 1463, 1079]",True,16,"[1010, 1047, 1, 951, 873, 1, 994, 653, 2, 1141...",stand,adult,False,False,False,False
29,0,"[919, 125, 1463, 1077]",True,16,"[1024, 1045, 1, 1009, 881, 1, 1048, 665, 2, 11...",walk,adult,False,False,False,False
30,0,"[1065, 132, 1500, 1056]",True,16,"[1170, 1024, 1, 1155, 862, 1, 1176, 664, 2, 13...",walk,adult,False,False,False,False
31,0,"[745, 103, 1080, 1052]",True,16,"[860, 1023, 1, 855, 860, 1, 848, 571, 2, 956, ...",walk,adult,False,False,False,False
32,0,"[745, 156, 1196, 1079]",True,16,"[828, 1034, 1, 929, 844, 1, 914, 649, 2, 1029,...",stand,adult,False,False,False,False
33,0,"[813, 168, 1292, 1079]",True,16,"[964, 1057, 1, 980, 894, 1, 986, 750, 1, 1058,...",walk,adult,False,False,False,False

In [49]:
accident11_087C_df

,id,bbox,occluded,num_keypoints,keypoints,action,age,disabled,mask,get_on,get_off
0,0,"[1374, 187, 1650, 578]",True,16,"[1419, 483, 2, 1466, 383, 2, 1540, 367, 2, 159...",sit down,adult,False,False,False,False
1,0,"[1374, 185, 1627, 578]",True,16,"[1393, 483, 1, 1457, 391, 2, 1498, 358, 2, 158...",sit down,adult,False,False,False,False
2,0,"[1374, 185, 1627, 578]",True,16,"[1393, 483, 1, 1438, 411, 2, 1480, 361, 2, 155...",sit down,adult,False,False,False,False
3,0,"[1374, 185, 1627, 578]",True,16,"[1393, 483, 1, 1431, 410, 2, 1492, 359, 2, 155...",sit down,adult,False,False,False,False
4,0,"[1374, 191, 1596, 578]",True,16,"[1393, 483, 1, 1435, 410, 2, 1480, 373, 2, 154...",sit down,adult,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
105,0,"[1294, 156, 1629, 530]",True,16,"[1408, 484, 1, 1401, 413, 1, 1418, 331, 1, 149...",stand,adult,False,False,False,False
106,0,"[1294, 156, 1629, 530]",True,16,"[1408, 484, 1, 1401, 413, 1, 1418, 331, 1, 149...",stand,adult,False,False,False,False
107,0,"[1341, 184, 1614, 574]",True,16,"[1408, 488, 2, 1417, 411, 2, 1451, 337, 2, 156...",stand,adult,False,False,False,False
108,0,"[1377, 188, 1633, 577]",True,16,"[1412, 485, 2, 1448, 389, 2, 1493, 351, 2, 154...",sit down,adult,False,False,False,False
109,0,"[1375, 209, 1648, 574]",True,16,"[1413, 492, 2, 1457, 388, 2, 1537, 367, 2, 157...",sit down,adult,False,False,False,False

In [48]:
accident11_087E_df

,id,bbox,occluded,num_keypoints,keypoints,action,age,disabled,mask,get_on,get_off
0,0,"[1554, 852, 1919, 1079]",True,16,"[1420, 1068, 0, 1643, 1054, 2, 1753, 1063, 2, ...",sit down,adult,False,False,False,False
1,0,"[1470, 862, 1919, 1079]",True,16,"[1420, 1068, 0, 1679, 1051, 2, 1779, 1062, 2, ...",sit down,adult,False,False,False,False
2,0,"[1470, 862, 1919, 1079]",True,16,"[1420, 1068, 0, 1693, 1053, 2, 1793, 1047, 2, ...",sit down,adult,False,False,False,False
3,0,"[1470, 862, 1919, 1079]",True,16,"[1420, 1068, 0, 1673, 1061, 2, 1780, 1055, 2, ...",sit down,adult,False,False,False,False
4,0,"[1470, 856, 1919, 1079]",True,16,"[1420, 1068, 0, 1668, 1060, 2, 1778, 1056, 2, ...",sit down,adult,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
62,0,"[1502, 743, 1919, 1079]",True,16,"[1320, 1065, 0, 1529, 1070, 2, 1632, 993, 2, 1...",stand,adult,False,False,False,False
63,0,"[1502, 743, 1919, 1079]",True,16,"[1320, 1065, 0, 1571, 1063, 2, 1638, 989, 2, 1...",stand,adult,False,False,False,False
64,0,"[1512, 733, 1919, 1079]",True,16,"[1320, 1065, 0, 1597, 1053, 2, 1646, 998, 2, 1...",stand,adult,False,False,False,False
65,0,"[1533, 786, 1919, 1079]",True,16,"[1320, 1065, 0, 1597, 1053, 2, 1673, 1023, 2, ...",sit down,adult,False,False,False,False
66,0,"[1554, 859, 1919, 1079]",True,16,"[1420, 1068, 0, 1643, 1059, 2, 1709, 1048, 2, ...",sit down,adult,False,False,False,False

In [47]:
accident11_087G_df

,id,bbox,occluded,num_keypoints,keypoints,action,age,disabled,mask,get_on,get_off
0,0,"[1061, 330, 1374, 849]",False,16,"[1092, 771, 2, 1101, 648, 2, 1132, 515, 2, 121...",sit down,adult,False,False,False,False
1,0,"[1029, 296, 1365, 842]",False,16,"[1092, 765, 2, 1091, 638, 2, 1149, 505, 2, 123...",sit down,adult,False,False,False,False
2,0,"[1030, 272, 1311, 858]",False,16,"[1095, 795, 2, 1092, 639, 2, 1137, 495, 2, 122...",sit down,adult,False,False,False,False
3,0,"[1019, 275, 1287, 869]",False,16,"[1093, 804, 2, 1083, 657, 2, 1133, 532, 2, 119...",sit down,adult,False,False,False,False
4,0,"[1007, 288, 1282, 878]",False,16,"[1092, 809, 2, 1075, 659, 2, 1120, 524, 2, 119...",sit down,adult,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
88,0,"[978, 372, 1402, 868]",False,16,"[1102, 792, 2, 1092, 743, 2, 1009, 564, 2, 116...",stand,adult,False,False,False,False
89,0,"[967, 373, 1391, 860]",False,16,"[1098, 777, 2, 1095, 730, 2, 1014, 555, 2, 110...",stand,adult,False,False,False,False
90,0,"[967, 373, 1391, 860]",False,16,"[1098, 777, 2, 1095, 730, 2, 1014, 555, 2, 110...",stand,adult,False,False,False,False
91,0,"[1024, 358, 1380, 858]",False,16,"[1101, 773, 2, 1099, 688, 2, 1085, 538, 2, 118...",stand,adult,False,False,False,False
92,0,"[1024, 356, 1380, 856]",False,16,"[1101, 771, 2, 1099, 686, 2, 1105, 492, 2, 121...",sit down,adult,False,False,False,False

In [8]:
json_df=pd.DataFrame()

In [9]:
json_df

Empty DataFrame
Columns: []
Index: []

In [10]:
a_dic=json.load(open('../data/label/A/[emergency]accident11_087A/[emergency]accident11_087A_0.json'))

In [11]:
pd.DataFrame(a_dic['annotations'])

,id,bbox,occluded,num_keypoints,keypoints,action,age,disabled,mask,get_on,get_off
0,0,"[578, 181, 802, 695]",True,16,"[692, 663, 2, 671, 559, 2, 659, 448, 2, 733, 4...",stand,adult,False,False,False,False

In [12]:
json_df=pd.concat([json_df,pd.DataFrame(a_dic['annotations'])])
json_df

,id,bbox,occluded,num_keypoints,keypoints,action,age,disabled,mask,get_on,get_off
0,0,"[578, 181, 802, 695]",True,16,"[692, 663, 2, 671, 559, 2, 659, 448, 2, 733, 4...",stand,adult,False,False,False,False

In [25]:
a=open('../data/label/E/[emergency]accident11_087E/[emergency]accident11_087E_730.json')
a_dic=json.load(a)
json_df=pd.concat([json_df,pd.DataFrame(a_dic['annotations'])],ignore_index=True)
json_df

,id,bbox,occluded,num_keypoints,keypoints,action,age,disabled,mask,get_on,get_off
0,0,"[578, 181, 802, 695]",True,16,"[692, 663, 2, 671, 559, 2, 659, 448, 2, 733, 4...",stand,adult,False,False,False,False
1,0,"[927, 131, 1299, 1060]",True,16,"[1031, 1028, 1, 1097, 848, 1, 1070, 650, 2, 11...",stand,adult,False,False,False,False
2,0,"[927, 131, 1299, 1060]",True,16,"[1031, 1028, 1, 1097, 848, 1, 1071, 661, 2, 10...",stand,adult,False,False,False,False
3,0,"[899, 140, 1299, 1062]",True,16,"[1013, 1024, 1, 1059, 863, 1, 1055, 682, 2, 11...",stand,adult,False,False,False,False
4,0,"[899, 140, 1299, 1062]",True,16,"[1013, 1024, 1, 1059, 863, 1, 1055, 682, 2, 11...",stand,adult,False,False,False,False
5,0,"[1453, 486, 1919, 1079]",True,16,"[1480, 1073, 1, 1558, 1013, 2, 1690, 860, 2, 1...",grab handle,adult,False,False,False,False
6,0,"[1209, 873, 1811, 1079]",True,16,"[1245, 1053, 2, 1379, 1058, 2, 1452, 1045, 2, ...",lay down,adult,False,False,False,False

In [14]:
# json파일명도 열로 추가해서 데프 만들기

In [15]:
# keypoints를 배열로 바꾸기
np.array(json_df.loc[0,'keypoints'])

array([692, 663,   2, 671, 559,   2, 659, 448,   2, 733, 444,   2, 738,
       547,   2, 734, 635,   1, 695, 450,   2, 692, 302,   2, 694, 268,
         2, 695, 223,   2, 635, 444,   2, 593, 383,   2, 614, 302,   2,
       752, 282,   2, 772, 358,   2, 766, 451,   2])